


{{!--form--}}
<form action="/cadastrar" method="POST"  >
        <h1 hidden>campo vazio</h1>
    <img src='imagens/kathryn on Twitter.jpg' >
    <input type="text" placeholder="Nome"  name="nome" class="form-control">
    <input type="text" placeholder="Idade" name="idade" class="form-control">
    <input type="submit" value="Cadastrar" class="btn btn-primary">

</form>

{{!--table--}}

<table class="table table-striped "  >
    <thead>
        <tr>
            <th>Nome:</th>
            <th>Idade:</th>
            <th>Id:</th>
        </tr>
    </thead>

    <tbody>
        {{#each dados}}
        <tr>
        <td>{{nome}} </td>
        <td>{{idade}} </td>
        <td><a href="selecionar/{{id}}">Selecionar</a></td>
        </tr>
        {{/each}}
    
    </tbody>

</table>