
html,body{ 
    width: 100%;
    text-align: center;
    background-image: url(../imagens/image-social.jpg);
   
    background-size: 100% 100%;
    


}
td a{
    color:black;
    
}
td a:hover{
    color:aliceblue;
}
form{
    
    width: 500px;
    margin: 30px auto;
    text-align: center;
}
form input{
    margin: 10px 0 10px 0  ;
}

table{
    color:white;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    
}

img{
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
